 {% load static %}
 {% include 'guest/header.html' %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="slider_text ">
                            <span>Get Started Today.</span>
                            <h3> Hope In Action</h3>
                            <p>Our mission is to provide immediate relief and 
                                long-term
                                 support to communities impacted by natural disasters. 
                                 Join us in making a difference today</p>
                            <a href="{% url 'ngo_vol_sel' %}" class="boxed-btn3">Join Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- reson_area_start  -->
    <div class="reson_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Reason of Helping</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_reson">
                        <div class="thum">
                            <div class="thum_1">
                                <img src="{% static 'guest/img/help/1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="help_content">
                            <h4>Collecting Fund</h4>
                            <p>Lorem ipsum, or lipsum as it is 
                                sometimes known, is dummy 
                                text used in laying out print.</p>
                            <a href="#" class="read_more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_reson">
                        <div class="thum">
                            <div class="thum_1">
                                <img src="{% static 'guest/img/help/2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="help_content">
                            <h4>Blood Camp</h4>
                            <p>Lorem ipsum, or lipsum as it is 
                                sometimes known, is dummy 
                                text used in laying out print.</p>
                            <a href="#" class="read_more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_reson">
                        <div class="thum">
                            <div class="thum_1">
                                <img src="{% static 'guest/img/help/3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="help_content">
                            <h4>Friendly Volunteer</h4>
                            <p>Lorem ipsum, or lipsum as it is 
                                sometimes known, is dummy 
                                text used in laying out print.</p>
                            <a href="#" class="read_more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- reson_area_end  -->

    <!-- latest_activites_area_start  -->
    <div class="latest_activites_area">
        <div class=" video_bg_1 video_activite  d-flex align-items-center justify-content-center">
            <a class="popup-video" href="https://www.youtube.com/watch?v=MG3jGHnBVQs">
                <i class="flaticon-ui"></i>
            </a>
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="activites_info">
                        <div class="section_title">
                            <h3> <span>Watch Our Latest  </span><br>
                                Activities</h3>
                        </div>
                        <p class="para_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do 
                            eiusmod tempor incididunt  ut labore dolore magna aliqua. 
                            enim minim veniam, quis nostrud exercitation.</p class="para_1">
                        <p class="para_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do 
                            eiusmod tempor incididunt  ut labore dolore magna aliqua. 
                            enim minim veniam, quis nostrud exercitation. tempor 
                            incididunt  ut labore dolore magna aliqua. enim minim 
                            veniam, quis nostrud exercitation.</p>
                        <a href="#" data-scroll-nav='1' class="boxed-btn4">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- latest_activites_area_end  -->

    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Popular Causes</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="causes_active owl-carousel">
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'guest/img/causes/1.png' %}" alt="">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                            <span class="progres_count">
                                                30%
                                            </span>
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Help us to Send Food</h4>
                                <p>The passage is attributed to an 
                                    unknown typesetter in the century 
                                    who is thought</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'guest/img/causes/2.png' %}" alt="">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                            <span class="progres_count">
                                                30%
                                            </span>
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Clothes For Everyone</h4>
                                <p>The passage is attributed to an 
                                    unknown typesetter in the century 
                                    who is thought</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'guest/img/causes/3.png' %}" alt="">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                            <span class="progres_count">
                                                30%
                                            </span>
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Water For All Children</h4>
                                <p>The passage is attributed to an 
                                    unknown typesetter in the century 
                                    who is thought</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'guest/img/causes/1.png' %}" alt="">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                            <span class="progres_count">
                                                30%
                                            </span>
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Help us to Send Food</h4>
                                <p>The passage is attributed to an 
                                    unknown typesetter in the century 
                                    who is thought</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->

    <!-- counter_area_start  -->
    <div class="counter_area">
        <div class="container">
            <div class="counter_bg overlay">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-calendar"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-heart-beat"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-in-love"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_counter d-flex align-items-center justify-content-center">
                            <div class="icon">
                                <i class="flaticon-hug"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter_area_end  -->

    <!-- our_volunteer_area_start  -->
    <div class="our_volunteer_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Our Volunteer</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_volenteer">
                        <div class="volenteer_thumb">
                            <img src="{% static 'guest/img/volenteer/1.png' %}" alt="">
                        </div>
                        <div class="voolenteer_info d-flex align-items-end">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_inner">
                                <h4>Sakil khan</h4>
                                <p>Donner</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_volenteer">
                        <div class="volenteer_thumb">
                            <img src="{% static 'guest/img/volenteer/2.png' %}" alt="">
                        </div>
                        <div class="voolenteer_info d-flex align-items-end">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_inner">
                                <h4>Emran Ahmed</h4>
                                <p>Volunteer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_volenteer">
                        <div class="volenteer_thumb">
                            <img src="{% static 'guest/img/volenteer/3.png' %}" alt="">
                        </div>
                        <div class="voolenteer_info d-flex align-items-end">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_inner">
                                <h4>Sabbir Ahmed</h4>
                                <p>Volunteer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our_volunteer_area_end  -->

    <!-- news__area_start  -->
    <div class="news__area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>News & Updates</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="news_active owl-carousel">
                        <div class="single__blog d-flex align-items-center">
                            <div class="thum">
                                <img src="{% static 'guest/img/news/1.png' %}" alt="">
                            </div>
                            <div class="newsinfo">
                                <span>July 18, 2019</span>
                                <a href="single-blog.html">
                                    <h3>Pure Water Is More 
                                        Essential</h3>
                                </a>
                                <p>The passage experienced a 
                                    surge in popularity during the 
                                    1960s when used it on their  
                                    sheets, and again.</p>
                                <a class="read_more" href="single-blog.html">Read More</a>
                            </div>
                        </div>
                        <div class="single__blog d-flex align-items-center">
                            <div class="thum">
                                <img src="{% static 'guest/img/news/2.png' %}" alt="">
                            </div>
                            <div class="newsinfo">
                                <span>July 18, 2019</span>
                                <a href="single-blog.html">
                                    <h3>Pure Water Is More 
                                        Essential</h3>
                                </a>
                                <p>The passage experienced a 
                                    surge in popularity during the 
                                    1960s when used it on their  
                                    sheets, and again.</p>
                                <a class="read_more" href="single-blog.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- news__area_end  -->

    <div data-scroll-index='1' class="make_donation_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-30">
                    <h3><span>Request Help</span></h3>
                    <p>Please share your details so we can reach you quickly.</p>
                </div>
                {% if success %}
                <div class="alert alert-success" role="alert">{{ success }}</div>
                {% endif %}
                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form action="{% url 'guesthome' %}" method="post" class="donation_form" style="background:#fff;padding:30px;border-radius:8px;box-shadow:0 5px 20px rgba(0,0,0,0.06);">
                    {% csrf_token %}

                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <label class="mr-3"><strong>Requesting for:</strong></label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="request_type" id="type_individual" value="individual" checked onchange="toggleFormType()">
                                <label class="form-check-label" for="type_individual">Individual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="request_type" id="type_community" value="community" onchange="toggleFormType()">
                                <label class="form-check-label" for="type_community">Community/Group</label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div id="individual_fields">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single_amount">
                                    <label>Full Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_amount">
                                    <label>Age</label>
                                    <input type="number" name="age" min="1" class="form-control" placeholder="Age">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_amount">
                                    <label>Gender</label>
                                    <select name="gender" class="form-control">
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Help Required Section -->
                        <div class="row mt-4">
                            <div class="col-12">
                                <h5 style="color: #333; margin-bottom: 15px;">Help Required</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single_amount">
                                    <label>Request Type (Disaster)</label>
                                    <select name="disaster_type" class="form-control" required>
                                        <option value="">Select Disaster Type</option>
                                        {% for disaster in disasters %}
                                        <option value="{{ disaster.DisasterID }}">{{ disaster.DisasterName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_amount">
                                    <label>Service Type</label>
                                    <select name="service_type" class="form-control" required>
                                        <option value="">Select Service Type</option>
                                        {% for service in service_types %}
                                        <option value="{{ service.serviceID }}">{{ service.serviceName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="community_fields" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single_amount">
                                    <label>Community/Camp Name</label>
                                    <input type="text" name="community_name" class="form-control" placeholder="Enter group name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_amount">
                                    <label>Coordinator Name</label>
                                    <input type="text" name="coordinator_name" class="form-control" placeholder="Enter coordinator name">
                                </div>
                            </div>
                           
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="single_amount">
                                    <label>Estimated People</label>
                                    <textarea name="estimated_people" class="form-control" rows="2" placeholder="Enter estimated number of people"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Help Required Section for Community -->
                        <div class="row mt-4">
                            <div class="col-12">
                                <h5 style="color: #333; margin-bottom: 15px;">Help Required</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" id="community_items_container">
                                <div class="row community-item align-items-end">
                                    <div class="col-md-4">
                                        <div class="single_amount">
                                            <label>Category</label>
                                            <select name="category" class="form-control category-select" required onchange="filterSubcategories(this)">
                                                <option value="">Select Category</option>
                                                {% for category in categories %}
                                                <option value="{{ category.CategoryID }}">{{ category.CategoryName }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_amount">
                                            <label>Subcategory</label>
                                            <select name="subcategory" class="form-control subcategory-select" required>
                                                <option value="">Select Subcategory</option>
                                                {% for subcategory in subcategories %}
                                                <option value="{{ subcategory.subCategoryId }}" data-category-id="{{ subcategory.categoryID.CategoryID }}">{{ subcategory.SubCategoryname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="single_amount">
                                            <label>Quantity</label>
                                            <input type="number" name="quantity" min="1" class="form-control" placeholder="Enter quantity" required>
                                        </div>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-link text-danger remove-item-btn" style="display:none;" aria-label="Remove item" title="Remove item">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <small class="text-muted">You can add up to 4 items.</small>
                                <button type="button" id="add_item_btn" class="btn btn-link p-0">+ Add another</button>
                            </div>
                        </div>
                        <template id="community_item_template">
                            <div class="row community-item align-items-end mt-2">
                                <div class="col-md-4">
                                    <div class="single_amount">
                                        <label>Category</label>
                                        <select name="category" class="form-control category-select" required onchange="filterSubcategories(this)">
                                            <option value="">Select Category</option>
                                            {% for category in categories %}
                                            <option value="{{ category.CategoryID }}">{{ category.CategoryName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single_amount">
                                        <label>Subcategory</label>
                                        <select name="subcategory" class="form-control subcategory-select" required>
                                            <option value="">Select Subcategory</option>
                                            {% for subcategory in subcategories %}
                                            <option value="{{ subcategory.subCategoryId }}" data-category-id="{{ subcategory.categoryID.CategoryID }}">{{ subcategory.SubCategoryname }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_amount">
                                        <label>Quantity</label>
                                        <input type="number" name="quantity" min="1" class="form-control" placeholder="Enter quantity" required>
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <button type="button" class="btn btn-link text-danger remove-item-btn" aria-label="Remove item" title="Remove item">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </template>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="single_amount">
                                <label>Contact Number</label>
                                <input type="text" name="contact_number" class="form-control" placeholder="Phone number" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_amount">
                                <label>Address</label>
                                <textarea name="address" class="form-control" rows="2" placeholder="House / Street / Landmark" required></textarea>
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="single_amount">
                                <label>Taluk</label>
                                <select name="taluk" class="form-control" required>
                                    <option value="">Select Taluk</option>
                                    {% for t in taluks %}
                                    <option value="{{ t.TalukID }}">{{ t.TalukName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single_amount">
                                <label>Local Body</label>
                                <select name="localbody" class="form-control" required>
                                    <option value="">Select Local Body</option>
                                    {% for lb in localbodies %}
                                    <option value="{{ lb.LocalbodyID }}">{{ lb.LocalbodyName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single_amount">
                                <label>Ward</label>
                                <select name="ward" class="form-control" required>
                                    <option value="">Select Ward</option>
                                    {% for w in wards %}
                                    <option value="{{ w.WardID }}">Ward {{ w.WardNumber }} ({{ w.LocalbodyID.LocalbodyName }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Submit Request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
const maxCommunityItems = 4;
let subcategoryOptionsCache = [];

function toggleFormType() {
    const isIndividual = document.getElementById('type_individual').checked;
    const individualDiv = document.getElementById('individual_fields');
    const communityDiv = document.getElementById('community_fields');

    const individualInputs = individualDiv.querySelectorAll('input, select, textarea');
    const communityInputs = communityDiv.querySelectorAll('input, select, textarea');

    if (isIndividual) {
        individualDiv.style.display = 'block';
        communityDiv.style.display = 'none';
        individualInputs.forEach(el => el.setAttribute('required', 'true'));
        communityInputs.forEach(el => el.removeAttribute('required'));
    } else {
        individualDiv.style.display = 'none';
        communityDiv.style.display = 'block';
        communityInputs.forEach(el => el.setAttribute('required', 'true'));
        individualInputs.forEach(el => el.removeAttribute('required'));
    }
}

function cacheSubcategoryOptions() {
    const sampleSelect = document.querySelector('#community_items_container .subcategory-select');
    if (!sampleSelect) {
        return;
    }
    subcategoryOptionsCache = Array.from(sampleSelect.options).map(option => ({
        value: option.value,
        text: option.textContent,
        categoryId: option.getAttribute('data-category-id') || ''
    }));
}

function populateSubcategoryOptions(subcategorySelect, categoryId) {
    if (!subcategorySelect) {
        return;
    }
    subcategorySelect.innerHTML = '';
    subcategoryOptionsCache.forEach(optionData => {
        if (optionData.value === '' || !categoryId || optionData.categoryId === categoryId) {
            const option = document.createElement('option');
            option.value = optionData.value;
            option.textContent = optionData.text;
            if (optionData.categoryId) {
                option.setAttribute('data-category-id', optionData.categoryId);
            }
            subcategorySelect.appendChild(option);
        }
    });
}

function filterSubcategories(categorySelect) {
    if (!categorySelect) {
        return;
    }
    const selectedCategoryId = categorySelect.value;
    const subcategorySelect = categorySelect.closest('.community-item').querySelector('.subcategory-select');
    populateSubcategoryOptions(subcategorySelect, selectedCategoryId);
}

function setupCommunityItems() {
    const container = document.getElementById('community_items_container');
    const addButton = document.getElementById('add_item_btn');
    const template = document.getElementById('community_item_template');

    if (!container || !addButton || !template) {
        return;
    }

    const updateControls = () => {
        const items = container.querySelectorAll('.community-item');
        addButton.disabled = items.length >= maxCommunityItems;
        items.forEach((item, index) => {
            const removeBtn = item.querySelector('.remove-item-btn');
            if (removeBtn) {
                removeBtn.style.display = items.length > 1 ? 'inline-block' : 'none';
            }
            const categorySelect = item.querySelector('.category-select');
            filterSubcategories(categorySelect);
            if (index === 0) {
                item.classList.remove('mt-2');
            }
        });
    };

    addButton.addEventListener('click', () => {
        const items = container.querySelectorAll('.community-item');
        if (items.length >= maxCommunityItems) {
            return;
        }
        const newItem = template.content.firstElementChild.cloneNode(true);
        newItem.querySelectorAll('input, select').forEach(field => {
            if (field.tagName.toLowerCase() === 'select') {
                field.selectedIndex = 0;
            } else {
                field.value = '';
            }
        });
        container.appendChild(newItem);
        updateControls();
    });

    container.addEventListener('click', (event) => {
        if (event.target.classList.contains('remove-item-btn')) {
            event.target.closest('.community-item').remove();
            updateControls();
        }
    });

    container.addEventListener('change', (event) => {
        if (event.target.classList.contains('category-select')) {
            filterSubcategories(event.target);
        }
    });

    updateControls();
}

document.addEventListener('DOMContentLoaded', () => {
    toggleFormType();
    cacheSubcategoryOptions();
    setupCommunityItems();
});
</script>
{% include 'guest/footer.html' %}