 {% load static %}
 {% include 'guest/header.html' %}

 <!-- news__area_start  -->
    <div class="news__area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Join our Network</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="news_active owl-carousel">
                        <div class="single__blog d-flex align-items-center">
                            <div class="thum">
                                <img src="{% static 'guest/img/help/1.png' %}" alt="NGO Organization">
                            </div>
                            <div class="newsinfo">
                                <a href="single-blog.html">
                                    <h3>NON GVERNMENTAL 
                                        ORGANIZATIONS
                                </h3>
                                </a>
                                <p>Register your organization
to manage relief stocks
and coordinate with our
teams, efficiently and again.</p>
                                <a class="read_more" href="{% url 'ngo_reg' %}">Register Here</a>
                            </div>
                        </div>
                        <div class="single__blog d-flex align-items-center">
                            <div class="thum">
                                <img src="{% static 'guest/img/volenteer/1.png' %}" alt="Volunteer">
                            </div>
                            <div class="newsinfo">
                                <a href="single-blog.html">
                                    <h3>VOLUNTEER</h3>
                                </a>
                                <p>Register to join our relief
network and help deliver
essential resources to
camps, efficiently and again..</p>
                                <a class="read_more" href="{% url 'volunteer_reg' %}">Register Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- news__area_end  -->
     {% include 'guest/footer.html' %}