{% load static %}
{% include 'admin/header.html' %}
<!-- ============================================================== -->
<!-- horizontal form -->
<!-- ============================================================== -->
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">LOCAL BODY REGISTRATION</h5>
        <div class="card-body">
            <form action="{% url 'localbody' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Taluk</label>
                     <div class="col-9 col-lg-10">
                        <select name="talukid" class="form-control">
                            <option value="">--Select Taluk--</option>
                            {% for c in taluks %}
                            <option value="{{ c.TalukID }}">{{ c.TalukName }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                    </div>
                    <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Local Body</label>
                     <div class="col-9 col-lg-10">
                        <select name="localbodyid" class="form-control">
                            <option value="">--Select Local Body Type--</option>
                            {% for c in localbodies %}
                            <option value="{{ c.TypeID }}">{{ c.TypeName }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                    </div>
                    <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Local Body Name</label>
                    <div class="col-9 col-lg-10">
                        <input id="localbody" type="text" name="localbodyname" placeholder="Local Body Name"
                            class="form-control">
                    </div>
                </div>

                <div class="row pt-2 pt-sm-5 mt-1">

                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                            <button class="btn btn-space btn-secondary">Cancel</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end horizontal form -->
{% include 'admin/footer.html' %}